html, body, #data {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #1E2026;
	overflow-x: hidden;
}

#data {
	width: 96%;
	margin: 0 auto;
}

.bar {
	margin: 10px 0;
	background-color: #6E7070;
	color: white;
	overflow: hidden;
	height: 20px;
}

.bar .tooltip {
 	visibility: hidden;
 	top: 45%;
	left: 35%;
	width: 30%;
	background-color: #6E7070;
	color: white;
	text-align: center;
	border-radius: 3px;
	position: absolute;
	z-index: 1;
}

.bar:hover .tooltip {
 	visibility: visible;
}

#btns {
	position: fixed;
	right: 20px;
	bottom: 10px;
}

#config {
	background-color: #6E7070;
	border-color: #6E7070;
	color: white;
	border: 0;
	padding: 5px 10px;
	border-radius: 10px;
}

#export {
	background-color: #6E7070;
	border-color: #6E7070;
	color: white;
	border: 0;
	padding: 5px 10px;
	border-radius: 10px;
}